/* === PHẦN CHUNG === */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #FCEFE2;
    color: #333;
}


/* --- KHUNG CHÍNH --- */
.contact-container {
    margin: 60px 0;
    padding: 0 80px;
}

.contact-header {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.contact-header img {
    width: 200px;
    height: 200px;
}

.contact-header h1 {
    font-size: 80px;
    font-family: "Sigmar", sans-serif;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 24px 0 16px;
}

.contact-header p {
    font-size: 16px;
    line-height: 1.6;
}

.contact-form {
    background-color: #FFEDD1;
    margin: 50px 0;
    border-radius: 30px;
    padding: 40px;
    display: flex;
    gap: 40px;
    border: 1.5px solid #FAB12F;
}

/* ==== FORM BÊN TRÁI ==== */
.form-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px; 
}

.form-flexbox {
    display: flex;
    gap: 20px;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ==== INPUT / SELECT / TEXTAREA ==== */
.form-group label {
    font-weight: 600;
    color: #331602;
    font-size: 16px;
}

.form-group input,
.form-group select,
.form-group textarea {
    border: 1px solid #F3C58A;
    border-radius: 12px;
    padding: 14px 12px;
    font-size: 16px;
    background-color: #FFF7EB;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.form-group textarea {
    min-height: 230px;
    resize: vertical;
    line-height: 1.4;
}

.submit-btn {
    padding: 16px 40px;
    border-radius: 999px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    background: #FF6C0A;
    color: #FFF7EB;
    border: 1.5px solid #C85E11;
    transition: all 0.3s ease;
}

.submit-btn:hover {
    box-shadow: 0 6px 0 #C85E11;
    transform: scale(1.02);
}

.contact-form img {
    width: 600px;
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

/* INFOR */
.contact-info {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.1);
}

.info-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 24px;
    padding: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    color: #2e2e2e;
    transition: all 0.3s ease;
}

.info-card i {
    font-size: 26px;
    padding: 16px 24px;
    border-radius: 999px;
    color: white;
    transition: all 0.3s ease;
}

.info-card.email i {
    background-color: #FF6C0A;
    border: 1.5px solid #C85E11;
}

.info-card.email:hover i{
    box-shadow: 0 6px 0 #C85E11;
    transform: scale(1.02);
}

.info-card.call i {
    background-color: #6A09C7;
    border: 1.5px solid #4C1085;
}

.info-card.call:hover i{
    box-shadow: 0 6px 0 #4C1085;
    transform: scale(1.02);
}

.info-card.location i {
    background-color: #00a5a5;
    border: 1.5px solid #008484;
}

.info-card.location:hover i {
    box-shadow: 0 6px 0 #008484;
    transform: scale(1.02);
}

.info-card.email {
    background-color: #FFE8D1;
    border: 1.5px solid #C85E11;
}

.info-card.call {
    background-color: #ead2e8;
    border: 1.5px solid #4C1085;
}

.info-card.location {
    background-color: #d9f4f4;
    border: 1.5px solid #008484;
}

.info-card h3 {
    font-size: 20px;
}

.info-card a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.info-card a:hover {
    text-decoration: underline;
}


/* --- RESPONSIVE --- */
/* 
@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .form-row {
        flex-direction: column;
    }
    .contact-image img {
        max-width: 80%;
    }
    .contact-form {
        flex-direction: column;
    }
    .contact-info {
        margin-top: 20px;
        aspect-ratio: 4 / 3;
    }
    .form-list {
        padding-right: 0;
    }
}

@media (max-width: 400px) {
    .contact-header h1 {
        font-size: 26px;
    }
    .contact-header p {
        font-size: 14px;
    }
    .info-card {
        min-width: 100%;
    }
} */